<div class="container">
    <h1 class="d-flex justify-content-center">Calcula a média de uma disciplina</h1>

<form>
    <div class="mb-3">
        <label for="b1" class="form-label" >Bim 1</label>
        <input id="b1" type="number" #b1 class="form-control" required>
    </div>

    <div class="mb-3">
        <label for="b2" class="form-label">Bim 2</label>
        <input id="b2" type="number" #b2 class="form-control" required>
    </div>

    <div class="mb-3">
        <label for="b3" class="form-label">Bim 3</label>
        <input id="b3" type="number" #b3 class="form-control" required>
    </div>

    <div class="mb-3">
        <label for="b4" class="form-label">Bim 4</label>
        <input id="b4" type="number" #b4 class="form-control" required>
    </div>

    <div>
        <input class="btn btn-outline-dark"
            type="button" 
            value="Calcular"
            (click)="calcularMediaParcial(
                +b1.value,
                +b2.value,
                +b3.value,
                +b4.value
            )">
    </div>
</form>
<br>
    @if (mediaParcial !== undefined && mediaParcial >= 60) {

    <div class="mb-3">
        <p >Média parcial = {{ mediaParcial }}</p>
        <br>
        <p class="alert alert-success">Situação: Aprovado</p>
    </div>

}

@if (mediaParcial !== undefined && 60> mediaParcial) {
    <form action="">
    <div class="mb-3">
        <p>Média parcial = {{ mediaParcial }} (menor que 60)</p>

        <p  class="alert alert-warning">
            Situação: Recuperação
        </p>

        <div class="mb-3">
            <label for="nf" class="form-label">Nota final</label>
            <input type="number" id="nf" #nf class="form-control" required>
        </div>

        <input class="btn btn-outline-dark"
            type="button"
            value="Calcular Média Final"
            (click)="calcularMediaFinal(mediaParcial!, +nf.value)">
    </div>
    </form>

}

@if (mediafinal !== undefined) {

    <div>
        <p>Média final = {{ mediafinal }}</p>
    </div>

    @if (mediafinal >= 60) {

        <p class="alert alert-success">
            Situação: Aprovado
        </p>

    }

    @if (60>mediafinal) {

        <p class="alert alert-danger">
            Situação: Reprovado
        </p>

    }

}
</div>